.form{
    width: 400px;
    height: 300px;
    background-color: white;    
    margin: auto;
    margin-top: 50px;
    border-radius: 25px;
}
.form__heading{
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-item{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-item__heading{
    font-weight: bold;
    font-size: 20px;
    width: 30%;
   
}
.input-item__input{
    width: 70%;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.input-item__input--error{
    border: 1px solid red;
}
.input-item__error{
    color: red;
    margin-top: 2px;
    margin-bottom: 2px;
}
.input-item__rule{
    margin-top: 2px;
    margin-bottom: 2px;
    color: gray;
    font-size: 12px;
}
.input-item__input-icon{
  width: 15%;
  display: flex;
  justify-content: center;

}
.input-item__input-input{
    border: none;
    width: 85%;
    height: 96%;
    outline: none;
    border-radius: 10px;
    padding-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.form__btn{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.form__btn-item{
    width: 100%;
    height: 40px;
  
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}
.form__btn--enb{
    background-color: lightseagreen;
    cursor: pointer;
}
.register{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.register__button{
    cursor: pointer;
    width: 400px;
    height: 40px;
    background-color: green;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    animation: inshow linear 0.2s;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.modal-result{
    position: absolute;
    background-color: white;
    animation-name: identifier;
    animation-duration: 2s;
    height: 450px;
    width: 800px;
   
}
@keyframes identifier {
    0%{
        top: 0;
        opacity: 0;
    }
    100%{
        top: 100px;
        opacity: 1;
    }
}
.modal-result__close{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.modal-result__close-icon{
    margin: 10px;
    cursor: pointer;
    font-size: 40px !important;
}

.modal-result__content{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
